<div class="alltimesheets ui-g">
  
  <div class="header ui-g-12">
      <h2>
        Manage Teams
      </h2>
  </div>

   <!-- Data Table -->
  <p-dataTable #dt [value]="teams" class="ui-g-12 ui-lg-8"  sortField="name" sortOrder="1" emptyMessage="No teams found"
  [reorderableColumns]="true" columnResizeMode="fit" [resizableColumns]="false" [globalFilter]="tableSearch" exportFilename="teams"
   [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,15,20,25]" [pageLinks]="8"  [responsive]="true">
      <p-column field="id" header="Id"></p-column> 
      <p-column field="name" header="Name" [sortable]="true" ></p-column>
      <p-footer>
          <label for="tableSearch">Search: </label>
          <input id="tableSearch" #tableSearch type="text" placeholder="Search All Fields">
          <button type="button" pButton icon="ui-icon-save" label="Export" (click)="dt.exportCSV()" style="float:right;"></button>
          
        </p-footer>

  </p-dataTable>

  <!-- Panel for Form -->
  <p-panel header="Add Team" class="ui-g-12 ui-lg-4">
      <form [formGroup]="teamForm" (ngSubmit)="save()">

        <!-- Input Name -->
        <div class="ui-g">
             <label for="Team" class="ui-g-12 ui-lg-2">Team</label>
             <input type="text" pInputText id="team" formControlName="name" placeholder="Name"  class="ui-g-12 ui-lg-10">
             <div  class="ui-g-12" > 
                <at-fielderrors [form]="teamForm" field="name" nicename="Name"> </at-fielderrors>
             </div>
            
        </div>
       <div>
        <button pButton type="submit" [disabled]="!teamForm.valid" label="Save" icon="ui-icon-save"></button>     
        <span style="float:right;"><button (click)="onReset()" pButton type="reset" [disabled]="!teamForm.dirty" label="Clear" icon="ui-icon-clear"></button> </span>
        </div>
                      
        </form>
     </p-panel>
     <p-growl [value]="msgs" life="5000"></p-growl>   
</div>

   